/* Reglas de css */

body {
  padding: 1em;
  font-family: arial;
}

h1, h2{
  color: blue;
}

h1{
  font-size: 140%;
  padding-bottom: 0.5em;
}

h2{
  font-size: 120%;
  font-style: italic;
  padding-bottom: 0.2em;
}

br{
  margin: 1em;
}

label{
  font-weight: bold;
}
label::after{
  content: ': ';
}

input{
  margin-right: 3em;
}

tr{
  background-color: lightgrey;
  margin-top: 8px;
}

.cfilas{
  padding: 20px;
}

tr:nth-child(2n+1){
  background-color: lightblue;
  margin-top: 8px;
}



#divError{
  width: 60%;
  margin: 1em auto;
  background-color: red;
  color: white;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.3em;
  display: none;
}

#pError{
  text-align: center;
  margin: auto;
}
